.heading{
  position: absolute;
width: 805px;
height: 202px;
left: 0px;
top: 0px;
padding-left: 700px;

font-family: Cera Pro;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 101px;
display: flex;
align-items: center;
color: #041A39;

}

.grow{
  position: absolute;
left: 9.6%;
right: 8%;
top: 20.71%;
bottom: 7.73%;


height: 80%;
width: 50%;

}
nav{
    margin-top: 3%;
    width: 70%;
    margin-left: 20%;
    font-family: Ubuntu;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  li {
    float: left;
    padding-right: 3%;
    font-size: large;
  }
  li a {
    display: block;

    text-align: center;
color: grey;
    text-decoration: none;
  }


.con1{
    position: static;
    width: 500px;
    height: 202px;
left: 0px;
top: 210px;
padding-left: 700px;
padding-top: 200px;
padding-right: 10px;

/* Tablet/H5 */

font-family: Cera Pro;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* or 133% */

display: flex;
align-items: center;


color: #5C7282;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px
  }

  @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
.button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 72px;

position: static;
width: 276px;
height: 60px;
left: 0px;
top: 0px;

/* Primary/600 */

background: #1684F8;
/* Button shadow */

box-shadow: 0px 8px 16px -1px rgba(15, 35, 177, 0.15);
border-radius: 16px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
